/* ========================
====>   Color Vars
====================== */
$--PrimaryWhite--: #ffffff;
$--PrimaryGrey--: #e6e6ef;
$--PrimaryBlack--: #2e2e2e;
$--SecondaryWhite--: #f4f4f4;

/* ========================
====>   Screen Size Vars
====================== */
$--width-300--: 300px;
$--width-400--: 400px;
$--width-600--: 600px;
$--width-900--: 900px;
$--width-991--: 991px;
$--width-1024--: 1024px;
$--width-1080--: 1080px;
$--width-1112--: 1112px;
$--width-1280--: 1280px;
$--width-1336--: 1336px;
$--width-1440--: 1440px;
$--width-1600--: 1600px;
$--width-1920--: 1920px;
$--width-2100--: 2100px;
$--width-3840--: 3840px;