@import url('https://fonts.googleapis.com/css?family=Roboto|Modak');
@import 'vars.scss';
* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
html, body {
  background: $--SecondaryWhite--;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
  height: 0;
  width: 6px; 
}
::-webkit-scrollbar-track {
  background: $--PrimaryBlack--;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: $--PrimaryWhite--;
}
::selection {
  background: $--PrimaryBlack--;
  color: $--PrimaryWhite--;
}

/* =======================
====> Topbar Style
====================== */
.TopbarStyle {
  border-bottom: 1px solid $--PrimaryGrey--;
  background: $--PrimaryWhite--;
  height: auto;
  padding: 6px 15px 6px 15px;
  z-index: 998;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    color: $--PrimaryBlack--;
    font-size: 35px;
    font-family: 'Modak', sans-serif;
    text-decoration: none;
    vertical-align: middle;
  }
  form {
    display: inline-block;
    .search {
      outline: none;
      border: none;
      border-radius: 0;
      border-left: 2px solid $--PrimaryGrey--;
      background: transparent;
      color: $--PrimaryBlack--;
      height: 30px;
      margin: 0 0 0 13px;
      padding: 5px 5px 5px 5px;
      font-size: 16px;
      transition: all 250ms ease-in-out;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-o-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  .right {
    float: right;
    padding: 10px 0 10px 0;
    position: relative;
    top: 5px;
    .ico {
      cursor: pointer;
      color: $--PrimaryBlack--;
      margin: 0 23px 0 0;
      font-size: 18px;
      vertical-align: middle;
    }
  }
  @media screen and (min-width: $--width-300--) and (max-width: $--width-600--){
    text-align: center;
    .search, .right {
      display: none;
    }
  }
}

/* =======================
====> Page Loader Style
====================== */
.LoaderStyle {
  height: auto;
  text-align: center;
  h1 {
    color: $--PrimaryBlack--;
    font-size: 35px;
    .ico {
      animation: bounce 1s linear infinite;
      vertical-align: middle;
    }
  }
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  @media screen and (min-width: $--width-300--) and (max-width: $--width-600--){
    margin: 20px 0 0 0;
  }
}

/* =======================
====> Content Style
====================== */
.ContentStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 20px 150px 0 150px;
  .masonary {
    column-count: 3;
    column-gap: 2%;
    .card {
      display: inline-block;
      border: 1px solid $--PrimaryGrey--;
      border-radius: 3px;
      background: $--PrimaryWhite--;
      height: auto;
      width: 100%;
      margin: 0 0 5%;
      overflow: hidden;
      transition: all 250ms ease-in-out;
      .authorBar {
        padding: 5px 5px 0 5px;
        .authorImage {
          display: inline-block;
          border-radius: 50%;
          height: 50px;
          width: 50px;
          margin: 0 5px 0 0;
        }
        a {
          display: inline-block;
          color: $--PrimaryBlack--;
          font-size: 25px;
          font-weight: bold;
          text-decoration: none;
          position: relative;
          top: -14px;
        }
      }
      .cardImage {
        width: 100%;
      }
      .dis {
        height: 100%;
        padding: 0 10px 10px 10px;
        h1 {
          color: $--PrimaryBlack--;
          margin: 0 0 5px 0;
          font-size: 28px;
        }
        p {
          color: $--PrimaryBlack--;
          font-size: 17px;
        }
      }
    }
  }
  @media screen and (min-width: $--width-300--) and (max-width: $--width-600--){
    margin: 0 0 0 0 !important;
    .masonary {
      column-count: 1 !important;
      .card {
        border: none;
        border-bottom: 1px solid $--PrimaryGrey--;
        margin: 0 0 0 0 !important;
        &:last-child {
          border-bottom: none;
          margin: 0 0 47px 0 !important;
        }
      }
    }
  }
  @media (max-width: $--width-991--){
    .masonary {
      column-count: 2;
      .card {
        margin: 0 0 3%;
      }
    }
  }
  @media (width: $--width-1024--){
    margin: 20px 20px 0 20px;
  }
  @media (width: $--width-1080--){
    margin: 20px 40px 0 40px;
  }
  @media (width: $--width-1112--){
    margin: 20px 60px 0 60px;
  }
  @media (width: $--width-1280--){
    margin: 20px 140px 0 140px;
  }
  @media (width: $--width-1336--){
    margin: 20px 170px 0 170px;
  }
  @media (min-width: $--width-1440--){
    margin: 20px 220px 0 220px;
  }
  @media (min-width: $--width-1600--){
    margin: 20px 350px 0 350px;
  }
  @media (min-width: $--width-1920--){
    margin: 20px 520px 0 520px;
  }
  @media (min-width: $--width-2100--){
    margin: 20px 860px 0 860px;
  }
  @media (min-width: $--width-3840--){
    margin: 20px 1760px 0 1760px;
  }
}

/* =======================
====> Navbar Style
====================== */
.NavbarStyle {
  display: none;
  @media screen and (min-width: $--width-300--) and (max-width: $--width-600--){
    display: block;
    border-top: 1px solid $--PrimaryGrey--;
    background: $--PrimaryWhite--;
    padding: 15px 0 15px 0;
    text-align: center;
    z-index: 998;
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    .ico {
      cursor: pointer;
      color: $--PrimaryBlack--;
      margin: 0 18px 0 18px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
}

/* =======================
====> Profile Page Style
====================== */
.ProfileStyle {
  height: auto;
  .banner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    ul {
      background: $--PrimaryTransparent--;
      height: auto;
      padding: 30px 0 30px 0;
      text-align: center;
      .userImage {
        border: 5px solid $--PrimaryWhite--;
        border-radius: 50%;
        height: 150px;
        width: 150px;
      }
      h1 {
        color: $--PrimaryWhite--;
        margin: 10px 0 0 0;
        font-size: 40px;
      }
      p {
        color: $--PrimaryWhite--;
        margin: 10px 0 0 0;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  .navbar {
    border-bottom: 1px solid $--PrimaryGrey--;
    background: $--PrimaryWhite--;
    height: auto;
    padding: 15px 15px 15px 15px;
    a {
      display: inline-block;
      color: $--PrimaryBlack--;
      margin: 0 20px -3px 0;
      font-size: 18px;
      text-decoration: none;
      &:after {
        content: '';
        display: block;
        border-bottom: 3px solid $--PrimaryBlue--;
        width: 40%;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
      &:last-child {
        margin: 0 0 0 0;
      }
      .ico {
        position: relative;
        top: 3px;
      }
    }
    .followBtn {
      float: right;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;
      background: $--PrimaryBlue--;
      color: $--PrimaryWhite--;
      padding: 8px 15px 8px 15px;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      top: -10px;
    }
  }
}

/* =======================
====> 404 Page Style
====================== */
.ErrStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88vh;
  text-align: center;
  h1 {
    color: $--PrimaryBlack--;
    font-size: 50px;
  }
  p {
    color: $--PrimaryBlack--;
    font-size: 18px;
  }
}